/* Font setup */
@font-face {
    font-family: CookieRunBlack;
    src: url('cookierun_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Body setup*/
body {
    font-family: '맑은고딕';
}
#pg-header {
    display: grid;
    background-color: #ef3d36;
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-align: center;
}
#pg-header > h1 {
    color: #f8d460;
    font: CookieRunBlack;
}

/* pg-main */
#pg-main {
    padding-left: 2vw;
    padding-right: 2vw;
}

/* pg-main-part1 */
.pg-main-part1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#toolbox {
    align-self: right;
    /* align-content: right; */
}
img {
    display: block;
    margin:auto;
    width: 20px;
    border-radius: 50%;
}
button {
    display: inline-block;
    width:200px;
}
/* p {
    text-align: center;
}
/* button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-self: center;
    height: 1.5em;
} */

/* table setup */
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    height: 2em;
    width: 25%;
    font-weight: bold;
    text-align: center;
}
td {
    text-align: center;
}
td > p1 {
    text-align: left;
    padding-left: 0.5em;
}
table, th, td {
    border: 1px solid black;
}